<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Kromora</string>
	<key>CFBundleExecutable</key>
	<string>Kromora</string>
	<key>CFBundleIconFile</key>
	<string>Kromora.icns</string>
	<key>CFBundleIconName</key>
	<string>Kromora</string>
	<key>CFBundleIdentifier</key>
	<string>com.last8.kromora.photo</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Kromora</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Kromora Library</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kromora.kromoralibrary</string>
			</array>
		</dict>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Kromora Library Package</string>
			<key>UTTypeIdentifier</key>
			<string>com.kromora.kromoralibrary</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kromoralibrary</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-kromora-library</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
